html {
  @include font(10px, 10px, 400);

  @media (max-width: $desktop) {
    @include font(8px, 8px, 400);
  }

  @media (max-width: $laptop) {
    @include font(7px, 7px, 400);
  }

}

.hide-cursor * {
  cursor: none !important;
}


body {
  @include font(1.6rem, 2.1rem, 400);
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  font-family: $gotham;
  background-color: $darkblue;
  color: $white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  @media (max-width: $laptop) {
    // шаблон медиа-запроса desktop-first
  }

  @media (min-resolution: $extra) {
    // шаблон для фонового изображения на экранах с повышенной плотностью пикселей
  }
}

button {
  font-family: $gotham;
}

body,
*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  position: relative;
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.grecaptcha-badge {
  opacity: 0;
  pointer-events: none;
}
