.header {

  &__nav {
    flex-shrink: 0;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__content {
    padding: 4.9rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: $mobile) {
      padding: 30px 0 0;
    }
  }

  &__logos {
    display: flex;
    gap: 5rem;
    width: 45%;

    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  &__logo {
    transition: 0.2s color ease-in;

    svg {
      fill: currentColor;
    }

    &:hover {
      color: $lightBlue;
    }
  }


}
