.marquee {
  position: relative;
  height: 7.5rem;
  z-index: 5;

  @media (max-width: $mobile) {
    height: 36px;
  }

  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 110%;
    top: 0;
    left: -5%;
    z-index: 5;

    @media (max-width: $mobile) {
      background-size: 55%;
    }
  }

  &--blue {
    &:after {
      background-image: url(../../img/marquee-blue-texture.png);
      background-repeat: repeat;
    }
  }

  &--red {
    &:after {
      background-image: url(../../img/marquee-red-texture.png);
      background-repeat: repeat;
    }
  }

  &--red2 {
    &:after {
      background-image: url(../../img/marquee-red-texture2.png);
      background-repeat: repeat;
    }
  }

  &--red-flat {
    &:after {
      background-color: $red;
      background-repeat: repeat;
    }
  }
}
