.partners {
  padding: 21.2rem 0 0;

  @media (max-width: $mobile) {
    padding: 92px 0 0;

    .container {
      padding: 0;
    }
  }

  &__title {
    margin: 0;
  }


  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 6.5rem;

    @media (max-width: $mobile) {
      padding: 0 20px;
      margin: 0 0 20px;
    }


    svg {
      display: none;
      fill: $white;
      width: 20px;
      height: 20px;
      margin: 0 4px 11px 0;

      @media (max-width: $mobile) {
        display: block;
      }
    }
  }

  &__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 0;
      height: 0;
      display: none;
    }

    @media (max-width: $mobile) {
      padding: 0 20px;
      flex-wrap: nowrap;
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow-x: auto;
      gap: 20px;

    }
  }

  &__logo-hover {
    max-width: initial;
    opacity: 0;
    width: 25.7rem;
    height: 25.7rem;
    position: absolute;
    top: -7rem;
    left: -6.5rem;
    transition: 0.2s opacity ease-in-out;
    z-index: 0;

    @media (max-width: $mobile) {
      display: none;
    }

    .partners__logo--dep & {
      top: -7rem;
      left: -3rem;
    }

    .partners__logo--sport & {
      top: -7rem;
      left: -1rem;
    }

    .partners__logo--100 & {
      top: -7rem;
      left: -3rem;
    }

    .partners__logo--mountains & {
      top: -8rem;
      left: 0;
    }

    .partners__logo--run & {
      top: -8rem;
      left: 0;
    }
  }

  &__logo {
    position: relative;

    @media (max-width: $mobile) {
      flex-shrink: 0;
    }

    &:hover {
      .partners__logo-hover {
        opacity: 1;
      }
    }
  }

  &__logo-image {
    position: relative;
    z-index: 5;

    @media (max-width: $mobile) {
      height: 47px;
      width: auto;
    }
  }





}
