.slider {
  position: relative;

    @media (max-width: $mobile) {
      margin: 0 ;
    }

    &.swiper-container {
      overflow: visible;
    }

    // .swiper-slide {
    //     width: 31.8rem !important;
    //     height:  39.1rem !important;

    //     &.swiper-slide-last {
    //       width: 15rem !important;
    //     }

    //   @media (max-width: $mobile) {
    //     width: 100% !important;
    //     height: auto !important;

    //     &.swiper-slide-last {
    //       width: 0 !important;
    //       display: none;
    //     }
    //   }
    // }

    &__slide-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;

      @media (max-width: $mobile) {
        width: 280px;
        height: 100%;
        margin: 0 auto;
      }

      h5 {
        margin: 2.7rem 0 0.3rem;
        font-size: 2rem;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: 700;

        @media (max-width: $mobile) {
          font-size: 20px;
          margin: 22px 0 5px;
        }
      }

      p {
        font-size: 1.6rem;
        line-height: 1.2;
        margin: 0;

        @media (max-width: $mobile) {
          font-size: 16px;
        }
      }

      img {
        object-fit: cover;
        border-radius: 50%;
        width: 100%;
        height: auto;
      }
    }

    .swiper__control {
      position: absolute;
      display: flex;
      align-items: flex-start;
      background: none;
      border: none;
      height:  39.1rem;
      width: calc((100% - 140rem)/2);
      top: 0;
      padding: 14rem 0 0;
      cursor: pointer;
      flex-shrink: 0;

      &.swiper-button-disabled {
        display: none;
      }

      @media (max-width: $tablet) {
        padding: 60px 0 0;
        width: 20px;
      }

      @media (max-width: $mobile) {
        width: 24px;
        height: 280px;
        padding: 123px 0 0;
      }

      svg {
        fill: $white;
      }
    }

    .swiper__prev {
      left: 0;
      justify-content: flex-end;
      z-index: 5;

      @media (max-width: $tablet) {
        left: 0;
      }

      @media (max-width: $mobile) {
        left: 20px;
      }
    }

    .swiper__next {
      right: 0;
      justify-content: flex-start;
      z-index: 5;

      @media (max-width: $tablet) {
        right: 0;
      }

      @media (max-width: $mobile) {
        right: 20px;
      }
    }

    .swiper-wrapper {
      padding-left: calc((100% - 140rem) / 2);

      @media (max-width: $mobile) {
        padding-left: 0;
      }
    }


  }
